.bg-general {
  background-color: red;
}

.bg-business {
  background-color: blue;
}

.bg-sports {
  background-color: green;
}

.bg-entertainment {
  background-color: yellow;
}

.bg-science {
  background-color: purple;
}

.bg-technology {
  background-color: orange;
}